

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	font-family: 'Oxygen', sans-serif;
}

.navbar {
	background-color: #E5F4FE;
	background-image: none;
	padding: 10px 0;
}

.logo {
	float: left;
	margin-right: 20px;
}

.navbar h1 {
	float: left;
	text-transform: uppercase;
	color: #EC142E;
}








