

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body .ui-overlay-a, body .ui-page-theme-a {
	font-family: 'Oxygen', sans-serif;
	background-color: #FBF3EB;
}

.navbar {
	background-image: none;
	background-color: transparent;
	border-bottom-width: 0;
}

.logo {
	float: left;
	margin-right: 20px;
	background-color: #fcf8f5;
	border-radius: 80px;
	border-color: #db4d71;
	border-width: 1px;
	border-style: solid;
	border-top-width: 0;
	border-left-width: 0;
	padding: 10px 0 10px 10px;
	margin-top: -70px;
	margin-left: -70px;
}

.logo img {
	width: 140px;
	height: 132px;
	padding: 60px 30px 30px 60px;
	margin-top: 10px;
	margin-left: 10px;
}

.navbar h1 {
	float: left;
	text-transform: uppercase;
	color: #EC142E;
}

.main-container {
	margin-top: 160px;
}

.cp-container {
	height: 160px;
	width: 208px;
	padding-bottom: 0;
}

.pane {
	height: 100%;
	width: 100%;
	border: 1px solid #000;
}

a, span {
    -webkit-touch-callout: none !important; 
    -webkit-user-select: none;
}

.match-details {
	text-align: center;
}

.match-no {
	cursor: pointer;
	position: fixed;
	bottom: -70px;
	left: 0;
	margin-right: 20px;
	background-color: #fcf8f5;
	border-radius: 80px;
	border-color: #db4d71;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 0;
	border-left-width: 0;
	padding: 10px 0 10px 10px;
	margin-top: -70px;
	margin-left: -70px;
}

.match-no img {
	width: 140px;
	height: 132px;
	padding: 30px 30px 60px 60px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.match-yes {
	cursor: pointer;
	position: fixed;
	bottom: -70px;
	right: 0;
	margin-left: 20px;
	background-color: #fcf8f5;
	border-radius: 80px;
	border-color: #db4d71;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 0;
	border-right-width: 0;
	padding: 10px 0 10px 10px;
	margin-top: -70px;
	margin-right: -70px;
}

.match-yes img {
	width: 140px;
	height: 132px;
	padding: 30px 60px 60px 30px;
	margin-bottom: 10px;
	margin-right: 10px;
}

